* { 
  margin: 0;
  padding: 0;
  text-decoration: none;
}


html {
  & button {
    cursor: pointer;
  }
}


header {
  display: flex;
  align-items: center;
  padding-inline: 14rem;
  justify-content: space-between;
  height: 4rem;
  background-color:rgb(2, 8, 95);

  & > span {
    color: white;
  }

  & button {
    display: flex;
    align-items: center;
    gap: 0.2rem;

    width: 5.5rem;
    height: 1.5rem;
    padding: 0.325rem;
    background-color: rgb(46, 127, 248);
    border: none;
    border-radius: 5px;

    & img {
      width: 1rem;
      aspect-ratio: 1/1;
    }
    
    & span {
      color: white;
    }
  }
}

main {
  padding: 1rem 14rem;

  
  & fieldset {
    & legend {
      margin-bottom: 1rem;
    }
  
    min-height: 50rem;
    border: none;
  }

  .list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color:rgba(60, 166, 253, 0.322);
    border-radius: 0.35rem;


    & button {
      background-color: rgba(219, 37, 37, 0.808);
      border: none;
      border-radius: 0.2rem;
      padding: 0.325rem;

      & img {
        width: 0.8rem;
        aspect-ratio: 1 / 1;
      }
    }
  }


}

footer {
  width: 100%;
  height: 4rem;
  background-color: rgba(39, 158, 255, 0.534);

  display: flex;
  align-items: center;
  justify-content: center;
}

